p {
    color: blueviolet;
    font-size: 50px;
  }

h1, h2 {
    color: rgb(0, 255, 255)

}  

body {
    background: plum;
}

.spec-list {
    
    margin-top: 30px;
    width: 300px;
}

.spec {
  
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.spec img {
    width: 30px;
    height: 30px;
    display: inline-block;

}

.spec .text {
    font-weight: bold;
    display: inline-block;
}

.spec-list.druid .spec {
    background: peru;

}

.spec-list.mage .spec {
    background: turquoise;

}

.spec-list.priest .spec {
    background: whitesmoke;
}

.spec-list.warrior .spec {
    background: tan;
}

.spec-list.deathknight .spec {
    background: red;
}

.spec-list.rogue .spec {
    background: yellow;
}

.spec-list.demonhunter .spec {
    background: purple;
}

.spec-list.shaman .spec {
    background: blue;
}

.spec-list.hunter .spec {
    background: green;
}

.spec-list.monk .spec {
    background: greenyellow;
}

.spec-list.paladin .spec {
    background: pink;
}

.spec-list.warlock .spec {
    background: palevioletred;
}